<form [formGroup]="form">
  <label>
      <input type="text" minLength="7" formControlName="text" [ngClass]="{'error': text.invalid}"> more than 3 characters
  </label>
  <label>
      <input type="number" formControlName="number" [ngClass]="{'error': number.invalid}"> number more than 50 
  </label>
  <label>
      <input type="email" formControlName="email" [ngClass]="{'error': email.invalid}"> email
  </label>
  <label>
      <input pattern="[0-9]*" formControlName="pattern" [ngClass]="{'error': pattern.invalid}"> only numbers
  </label>
  <button type="button" (click)="showInvalidValues()">Show invalid values</button>
</form>

